* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.section1 section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(IMG_3060.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

header .logo {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 7px;
    border: 4px solid lightpink;
    padding: 10px;
    padding-left: 16px;
    margin-right: 100px
}

header .logo:hover {
    color: lightpink;
}

header .navigation {
    position: relative;
    display: flex;

}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 0.3s
}
header .navigation li a::after
{
    letter-spacing: 2px;
}

header .navigation li a:hover {
    color: lightpink;
    text-decoration: underline;
    font-size: 18px;
    transition-duration: 0.3s;
}
iframe
{
    position: absolute;
    left: 1150px;
    bottom: 150px;
    width: 30%;
    height: 50%;
}
.content {
    max-width: 600px;
    position: absolute;
    bottom: 40px;
}

.content .contentBx h2 {
    position: absolute;
    font-size: 3em;
    color: lightpink;
    bottom: 40px;
    line-height: 1em;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        top: -40px;
    }

    50% {
        top: -60px;
    }

    100% {
        top: -40px;
    }
}

.content .contentBx p {
    letter-spacing: 4px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.content .contentBx p span {
    color: pink;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;
}

.section2 section {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    background-color: lightpink;
}

.section2 section .dividerBx {
    text-align: center;
    margin-top: 40px;
}

.section2 section p {
    margin-top: 10px;
    font-size: 25px;
}

.section2 section h3 {
    position: relative;
    left: 70px;
    top: -10px
}
